<footer>
    <div class="footer">
        <div class="row">
            <div class="col-2">
                <ul class="footer-links">
                    <li><a href="">About</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Forum</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="col-2">
                <ul class="social-links">
                    <li><a href="" class="fa-brands fa-facebook"></a></li>
                    <li><a href="" class="fa-brands fa-twitter"></a></li>
                    <li><a href="" class="fa-brands fa-instagram"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>