<header class="main-header">
    <div class="header">
        <div class="logo">
            <a href="/Default/index">MYPade</a>
        </div>
        <div class="nav-links">
            <nav>
                <a class="btn btn-primary" href="/admin/profile/index">Profile</a>
                <a class="btn btn-primary" href="/admin/sal/index">Add Post</a>
                <a class="btn btn-primary" href="/Default/Home/Index">Home</a>
                <a class="btn btn-primary" href="/admin/login/logout">Log Out</a>
            </nav>
        </div>
    </div>
</header>