<header class="main-header">
    <div class="header">
        <div class="logo">
            <a href="/Default/index">MYPade</a>
        </div>
        <div class="nav-links">
            <nav>

                <a class="btn btn-primary" href="/Admin/login/index">Login</a>
                <a class="btn btn-primary" href="/admin/register/index">Register</a>

            </nav>
        </div>
    </div>
</header>